/* General CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');


:root{
    --red-color: #DA1A32;
    --dark-purple-color: #070724;
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

.logo {
    position: absolute;
    width: 18vw;
    height: auto;
    left: 42vw;
    top: 0%;
    z-index: 20;
}

.nav {
    width: 70vw;
    position: absolute;
    left: 18vw;
    top: 20%;
    z-index: 20;
}

body {
    background-color: var(--dark-color);
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 50px;
}

.title {
    color: var(--grey-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 75px;
    padding: 30px 0 5px 100px;
    cursor: pointer;
    z-index: 10;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.25em;
    color: var(--grey-color);
    text-decoration: none;
    padding: 40px
}

a:hover{
    font-weight: 600;
}

.bases {
    color: var(--red-color);
    font-weight: 800;
}

.shirts-img {
    box-sizing: border-box;
    position: absolute;
    width: 25vw;
    height: auto;
    left: 60vw;
    top: 30vh;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.container-bases {
    position: absolute;
    width: 40vw;
    height: 60vh;
    left: 10vw;
    top: 30vh;
}

.bases-info {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    color: var(--grey-color);
    z-index: 20;
    padding-bottom: 10px;
}

.reglas {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    color: var(--red-color);
    z-index: 20;
    padding-bottom: 10px;
}

.kit-title {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 37vw;
    top: 45vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.25em;
    color: var(--grey-color);
    z-index: 20;
}

.kit-description {
    position: absolute;
    width: 50vw;
    height: 10vh;
    left: 37vw;
    top: 50vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.25em;
    color: var(--grey-color);
    z-index: 20;
}

.inscripcion-seccion {
    position: absolute;
    display: flex;
    width: 60vw;
    left: 7vw;
    top: 150vh;
    z-index: 20;
}

.inscripcion {
    position: absolute;
    width: 10vw;
    height: auto;
    left: 40vw;
    top: -15vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
    text-align: center;
    color: var(--red-color);
    padding-bottom: 20px;
    z-index: 20;
}

.bases-inscripcion {
    position: absolute;
    width: 50vw;
    height: auto;
    left: 21vw;
    top: -10vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: var(--grey-color);
    z-index: 20;
    padding-bottom: 10px;
}

.clausula {
    font-size: 7px;
    transform: translateX(10vw);
}

.bases-inscripcion-lista {
    position: absolute;
    width: 30vw;
    height: auto;
    left: 30vw;
    top: 5vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 9px;
    line-height: 20px;
    text-align: left;
    color: var(--grey-color);
    z-index: 20;
    padding-bottom: 10px;
    list-style-position: inside;
}

.eclipse {
    position: absolute;
    width: 300vw;
    height: 75vh;
    left: 0vw;
    top: 120vh;
    background: linear-gradient(-180deg, #000000 0%, #DA1A32 200%);
    backdrop-filter: blur(25px);
    z-index: 0;
}

.register-box {
    max-width: 25vw;
    padding: 1rem;
    position: relative;
    background: var(--grey-color);
    padding: 3px;
    z-index: 20;
    top: 170vh;
    left: 40vw;
    cursor: pointer;
}

.register-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.25em;
    background: linear-gradient(-180deg, #000000 0%, #DA1A32 300%);
    color: var(--grey-color);
    padding: 5px 20px;
    z-index: 20;
    text-align: center;
    cursor: pointer;
}

.footer {
    position: absolute;
    width: auto;
    left: 45vw;
    top: 190vh;
    z-index: 20;
}

@media screen and (max-width: 415px) {
    body {
        overflow-x: hidden;
    }

    .car_img {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: auto;
        left: 0px;
        top: -140px
    }

    .nav {
        width: 200px;
        left: 100px;
    }

    .container-bases {
        top: 330px;
    }

    .footer {
        left: 80px;
        top: 1200px;
    }
}