/* General CSS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

:root{
    --red-color: #DA1A32;
    --dark-purple-color: #070724;
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--dark-color);
}

body::-webkit-scrollbar {
    display: none;
}

a {
    font-family: "Open Sans", sans-serif !important;
    font-style: normal !important;
    font-size: 15px !important;
    letter-spacing: 0.25em !important;
    text-decoration: none !important;
}

.navbar-brand img {
    height: 8rem;
} 

.navbar-nav {
    flex-direction: row !important;
}

.nav-item {
    padding: 1% 2%;
}

#hero {
    position: relative;
}

#hero video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}

#btn-idioma {
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: var(--grey-color);
    font-family: "Open Sans", sans-serif;
    top: 0;
    left: 0;
    margin: 2%;
    z-index: 20;
    align-items: center;
}

.register-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 22px !important;
    font-weight: bold;
    background: linear-gradient(-180deg, #000000 0%, #DA1A32 200%);
    width: 300px;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.register-btn:hover, .register-btn:focus, .register-btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

li{
    padding-bottom: 2%;
}



@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }
    
    /* Navbar responsive */

    .navbar-nav {
        flex-direction: column !important;
    }
    a {
        font-family: "Open Sans", sans-serif !important;
        font-style: normal !important;
        font-size: 10px !important;
        letter-spacing: 0.25em !important;
        text-decoration: none !important;
    }

    /* Premios responsive */
    .premios {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .premios-arriba {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .premios-arriba img {
        margin: 0 !important;
        width: 85vw !important;
    }

    .premios-abajo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .premios-abajo img {
        margin: 0 !important;
        width: 55vw !important;
    }
    
    /* .premios {
        display: block !important;
    }
    .premio{
        margin-left: 30%;
    }
    .gran-premio {
        margin-left: 20%;
    }
    .premios h1, h2 {
        margin-left: 30%;
    } */

    /* Bases responsive */

    #reglas_kit-inicial {
        display: flex;
        flex-direction: column !important;
    }
    .reglas-container {
        margin-left: -5%;
    }
    .bases-inscripcion, .bases-inscripcion-lista {
        max-width: 100% !important;
    }
}